.highlyrated .info h1{
    color: rgb(33, 36, 39);
    font-weight: 600;
    text-align: center;
    width: 100%;
    position: relative;
    left: 100px;
}
.highlyrated .info .link{
    justify-self: flex-end;
    width: 200px;
    color: #FF5A5F;
    cursor: pointer;
    font-size: 18px ;
    font-weight: 600;
    position: relative;
    left: 100px;
    text-decoration-color: #FF5A5F;
    z-index: 2;
}
